/lib/*
/v0.92/bezmisc.py 
/v0.92/cubicsuperpath.py
/v0.92/inkex.py
/v0.92/simplepath.py
/v0.92/simplestyle.py
/v0.92/simpletransform.py
/v0.92/bezmisc.pyc
/v0.92/cubicsuperpath.pyc
/v0.92/inkex.pyc
/v0.92/simplepath.pyc
/v0.92/simplestyle.pyc
/v0.92/simpletransform.pyc
*.ngc
log.txt
.vscode
.idea
.gitignore
v1.0/inkex/*
