/lib/*
bezmisc.py 
cubicsuperpath.py
inkex.py
simplepath.py
simplestyle.py
simpletransform.py
bezmisc.pyc
cubicsuperpath.pyc
inkex.pyc
simplepath.pyc
simplestyle.pyc
simpletransform.pyc
*.ngc
log.txt

